@import url('https://fonts.cdnfonts.com/css/valorant');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --fonte-agente: 'Oswald', sans-serif;
    --fonte-role: 'Noto Sans JP', sans-serif;
    --fonte-confirmar: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background: url("/images/fundo.png") no-repeat;
    background-size: cover;
}


.container__agentes-flex{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.agentes{
    display: flex;
    justify-content: center;
    gap: 2px;
    flex-wrap: wrap;
}

.agentes-linha-um{
    margin-bottom: 2px;
}

.agente{
    height: 65px;
    width: 65px;
    background-color: transparent;
    border: 1px solid white;
}

.agente:hover{
    background-color: #fff;
}

.agente__foto{
    width: 100%;
    cursor: pointer;
}

.container__wrap{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 10%;
    right: 10%;
    width: 25%;
}

.linha__vertical{
    position: fixed;
    height: 275px;
    border: 1px solid #fff;
    opacity: .6;
    top: 15%;
    right: 36%;
}

.linha__horizontal{
    position: fixed;
    width: 23%;
    border: 1px solid #fff;
    opacity: .6;
    top: 40%;
}

.linha__horizontal-agentes{
    position: fixed;
    width: 48%;
    border: 1px solid #fff;
    opacity: .5;
    top: 79%;
}

.container__skills{
    display: flex;
    gap: 3px;
}

.skills{
    width: 75px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.27);
    font-family: var(--fonte-role);
    cursor: pointer;
}

.skills__logo{
    width: 30px;
}

.nome__agente{
    font-family: var(--fonte-agente);
    font-size: 4em;
    color: rgb(255, 255, 157);
    text-transform: uppercase;
}

.role__agente{
    font-family: var(--fonte-role);
    font-size: 1em;
    letter-spacing: 3px;
    color: #fff;
}

.info__agente, .info__role, .picking{
    font-family: var(--fonte-role);
    font-size: .9em;
}

.info__agente{
    color: rgb(255, 255, 157);
}

.info__role, .picking{
    color: #fff;
}

.app__card-timer {
    color: #fff;
    font-family: var(--fonte-role);
    font-size: 5rem;
    font-weight: 700;
    line-height: normal;
    margin: 1em 0 0 2em;
    position: fixed;
}

.timer__pick{
    display: flex;
    gap: 20px;
    position: fixed;
    margin: 12em 0 0 4em;
}

.spike__logo{
    opacity: .3;
    width: 100px;
    position: fixed;
    margin: 1em 0 0 2em;
}

.texto__map{ 
    position: fixed;
    margin: 3em 0 0 6em;
}

.missoes{
    position: fixed;
    margin: -3.5em 0 0 2em;
}

.missao__diaria, .missao__semanal{
    display: flex;
    margin: .5em;
}

.missoes__logo{
    filter: grayscale(0);
    width: 25px;
    height: 25px;
    margin-right: .5em;
}

.role__agente__foto{
    width: 20px;
    height: 20px;
    position: absolute;
}

.section__esquerda{
    margin: 100px 0 0 0;
    position: fixed;
}

.btn__confirmar{
    position: fixed;
    padding: 12px 30px;
    font-family: var(--fonte-confirmar);
    font-size: 1.2em;
    color: #fff;
    background: url('/images/cadeado.png') no-repeat left;
    background-position-x: 15%;
    background-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.27);
    bottom: 22%;
}

.texto__confirmar{
    margin-left: 1em;
}